### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [68]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

In [45]:
sn_total = purchase_data_df["SN"].value_counts()
sn_total

Lisosia93        5
Idastidru52      4
Iral74           4
Umolrian85       3
Siallylis44      3
                ..
Asty82           1
Syalollorap93    1
Tyarithn67       1
Aidain51         1
Rairith81        1
Name: SN, Length: 576, dtype: int64

* Display the total number of players

In [46]:
purchase_id_count = len(purchase_data_df.index)
purchase_id_count

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [47]:
#Number of Unique Items;  Average Purchase Price; Total Number of Purchases; Total Revenue
uni_item_count = purchase_data_df["Item ID"].value_counts()
uni_item_count

92     13
178    12
108     9
132     9
82      9
       ..
104     1
27      1
134     1
118     1
91      1
Name: Item ID, Length: 179, dtype: int64

In [48]:
average_price = purchase_data_df["Price"].mean()
average_price

3.050987179487176

In [49]:
total_items_sold = purchase_data_df["Item ID"].sum()
total_items_sold

71569

In [60]:
total_profit = purchase_data_df["Price"].sum()
total_profit

2379.77

In [61]:
data_dict = {
    "uni_item_count": [179],
    "average_price": ["$3.05"],
    "total_items_sold": [71569],
    "total_profit": ["$2379.77"]
}

frame_df = pd.DataFrame(data_dict)
frame_df

   uni_item_count average_price  total_items_sold total_profit
0             179         $3.05             71569     $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [86]:
new_df= purchase_data_df.drop_duplicates(subset=['SN'])

In [87]:
gender_count = new_df['Gender'].value_counts()
gender_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [89]:
gender_percent = new_df['Gender'].value_counts(normalize =True)
print (gender_percent *100)

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [91]:
data_dict_1 = {
    "Gender": ["Male", "Female", "Other"],
    "Count": [484,81,11],
    "Percent": ["84%", "14%","2%"]
}

frame_df_1 = pd.DataFrame(data_dict_1)
frame_df_1

   Gender  Count Percent
0    Male    484     84%
1  Female     81     14%
2   Other     11      2%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [99]:
gender_group_df = purchase_data_df.groupby("Gender")

In [105]:
gender_items = gender_group_df["Gender"].count()
gender_items

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [102]:
gender_average_price = gender_group_df["Price"].mean()
gender_average_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [103]:
gender_total_items_sold = gender_group_df ["Item ID"].sum()
gender_total_items_sold

Gender
Female                    9659
Male                     60698
Other / Non-Disclosed     1212
Name: Item ID, dtype: int64

In [119]:
gender_total_profit = gender_group_df["Price"].sum()
gender_total_profit

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [129]:
purchase_data_df.set_index('Gender')

,Purchase ID,SN,Age,Item ID,Item Name,Price
Gender,,,,,,
Male,0,Lisim78,20,108,"Extraction, Quickblade Of Trembling Hands",3.53
Male,1,Lisovynya38,40,143,Frenzied Scimitar,1.56
Male,2,Ithergue48,24,92,Final Critic,4.88
Male,3,Chamassasya86,24,100,Blindscythe,3.27
Male,4,Iskosia90,23,131,Fury,1.44
...,...,...,...,...,...,...
Female,775,Aethedru70,21,60,Wolf,3.54
Male,776,Iral74,21,164,Exiled Doomblade,1.63
Male,777,Yathecal72,20,67,"Celeste, Incarnation of the Corrupted",3.46
Male,778,Sisur91,7,92,Final Critic,4.19
Male,779,Ennrian78,24,50,Dawn,4.60

In [146]:
data_dict_2 = {
    "Gender": ["Male", "Female", "Other"],
    "gender_items": [652,113,15],
    "gender_item_avg": ["3.02", "$3.20", "$3.35"],
    "gender_total_profit": ["$1,967", "$361", "$50"]
}

gender_final_df = pd.DataFrame(data_dict_2)
gender_final_df

   Gender  gender_items gender_item_avg gender_total_profit
0    Male           652            3.02              $1,967
1  Female           113           $3.20                $361
2   Other            15           $3.35                 $50

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [139]:
bins = [0, 10, 14, 19, 24, 29, 34, 39, 40]

# Create labels for these bins
group_labels = ["<10", "10-14","15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [140]:
pd.cut(purchase_data_df["Age"], bins, labels=group_labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [141]:
# Place the data series into a new column inside of the DataFrame
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], bins, labels=group_labels)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [142]:
# Create a GroupBy object based upon "View Group"
age_group_df = purchase_data_df.groupby("Age Range")
print(age_group_df)
age_group_df.count().head(10)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000023B8A1E2BE0>

           Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Range
<10                 32   32   32      32       32         32     32
10-14               19   19   19      19       19         19     19
15-19              136  136  136     136      136        136    136
20-24              365  365  365     365      365        365    365
25-29              101  101  101     101      101        101    101
30-34               73   73   73      73       73         73     73
35-39               41   41   41      41       41         41     41
40+                  6    6    6       6        6          6      6

In [143]:
age_average_price = age_group_df["Price"].mean()
age_average_price

Age Range
<10      3.405000
10-14    2.681579
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.785000
Name: Price, dtype: float64

In [144]:
age_total_items_sold = age_group_df["Item ID"].sum()
age_total_items_sold

Age Range
<10       3400
10-14     1747
15-19    12798
20-24    32335
25-29     9128
30-34     6866
35-39     4137
40+        582
Name: Item ID, dtype: int64

In [145]:
age_total_profit = age_group_df["Price"].sum()
age_total_profit

Age Range
<10       108.96
10-14      50.95
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        16.71
Name: Price, dtype: float64

In [163]:
purchase_data_df.set_index('Age Range')

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
Age Range,,,,,,,
20-24,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
40+,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
20-24,2,Ithergue48,24,Male,92,Final Critic,4.88
20-24,3,Chamassasya86,24,Male,100,Blindscythe,3.27
20-24,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
20-24,775,Aethedru70,21,Female,60,Wolf,3.54
20-24,776,Iral74,21,Male,164,Exiled Doomblade,1.63
20-24,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
<10,778,Sisur91,7,Male,92,Final Critic,4.19
20-24,779,Ennrian78,24,Male,50,Dawn,4.60

In [168]:
### I KNOW THIS IS WRONG

age_final_df = pd.DataFrame({
    "age_average_price": [age_average_price],
    "age_total_items_sold": [age_total_items_sold],
    "age_total_profit": [age_total_profit]
})
age_final_df

,age_average_price,age_total_items_sold,age_total_profit
0,Age Range <10 3.405000 10-14 2.681579 ...,Age Range <10 3400 10-14 1747 15-19 ...,Age Range <10 108.96 10-14 50.95 15...

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80